<div class="navbar navbar-expand-sm navbar-light navbar-whatch">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "/assets/logo_white.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<!-- to do: add the proper links in place of "#" -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills">
      <% if user_signed_in? %>
        <li class="nav-item whatch-nav-item">
          <%= link_to "Watch Now", "#", class: "nav-link" %>
        </li>
        <!-- the class .whatch-nav-item-active must be toggled depending on the current page -->
        <li class="nav-item whatch-nav-item whatch-nav-item-active">
          <%= link_to "History", "#", class: "nav-link" %>
        </li>
        <li class="nav-item whatch-nav-item">
          <%= link_to "Achievements", "#", class: "nav-link" %>
        </li>
        <li class="nav-item whatch-nav-item">
          <%= link_to "Saved", "#", class: "nav-link" %>
        </li>
        <li class="nav-item  whatch-nav-item">
          <%= link_to "Profile", "#", class: "nav-link" %>
      <% else %>
        <li class="nav-item whatch-nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link whatch-nav-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
