<div class="navbar navbar-expand-sm navbar-light navbar-whatch">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "/assets/logo_white.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


<!-- to do: add the proper links in place of "#" -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills">
      <% if user_signed_in? %>
        <li class="nav-item whatch-nav-item">
          <% if current_page?("/") %>
          <%= link_to "Watch Now", "/", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Watch Now", "/", class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item whatch-nav-item">
          <% if current_page?("/history") %>
          <%= link_to "History", "/history", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "History", "/history", class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item whatch-nav-item">
          <% if current_page?("/achievements") %>
          <%= link_to "Achievements", "/achievements", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Achievements", "/achievements", class: "nav-link" %>
          <% end %>
        </li>
        <!-- IMPORTANT: remember to insert the proper path below -->
        <li class="nav-item whatch-nav-item">
          <% if current_page?("/saved") %>
          <%= link_to "Saved", "/saved", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Saved", "/saved", class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item  whatch-nav-item">
          <% if current_page?("/profile") %>
          <%= link_to "Profile", "/profile", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Profile", "/profile", class: "nav-link" %>
          <% end %>
      <% else %>
        <li class="nav-item whatch-nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link whatch-nav-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
