<div class="navbar navbar-expand-sm navbar-light navbar-whatch">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo_white.svg" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <!-- this stores the current relative url for highlighting the navbar buttons accordingly -->
  <% current_url = request.fullpath %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav nav-pills">
      <% if user_signed_in? %>
        <li class="nav-item whatch-nav-item">
          <% if current_page?("/") || current_page?("/results") || current_page?("/pages") %>
          <%= link_to "Watch Now", "/", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Watch Now", "/", class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item whatch-nav-item">
          <!-- the method below is currently working for highlighting the current view on the navbar buttons -->
          <% if current_url.include?("/history")%>
          <%= link_to "History", "/history", class: "nav-link whatch-nav-item-active" %>
          <% elsif  current_url.include?("/history/movie/#{Integer}")%>
          <%= link_to "History", "/history", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "History", "/history", class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item whatch-nav-item">
          <% if current_page?("/achievements") %>
          <%= link_to "Achievements", "/achievements", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Achievements", "/achievements", class: "nav-link" %>
          <% end %>
        </li>
        <!-- IMPORTANT: remember to insert the proper path below -->
        <li class="nav-item whatch-nav-item">
          <% if current_page?("/saved") %>
          <%= link_to "Saved", saved_movie_path, class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Saved", saved_movie_path, class: "nav-link" %>
          <% end %>
        </li>
        <li class="nav-item  whatch-nav-item">
          <% if current_url.include?("/profile") ||  current_url.include?("/users/edit")%>
          <%= link_to "Profile", "/profile", class: "nav-link whatch-nav-item-active" %>
          <% else %>
          <%= link_to "Profile", "/profile", class: "nav-link" %>
          <% end %>
      <% else %>
        <li class="nav-item whatch-nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link whatch-nav-item" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
