
<div class="filter-container">

  <div class="filter-left">
    <div class="filter-selection">
      <!-- filter-option is the button css, filter-toggle creates custom margin on right -->
      <button id="actor-btn" class="filter-option filter-toggle" data-value="actor">Actors</button>
      <button id="director-btn" class="filter-option filter-toggle" data-value="director">Directors</button>
      <button id="genre-btn" class="filter-option filter-toggle" data-value="genre">Genres</button>
    </div>

    <div class="filter-search">
      <div id="actor-input" class="filter-search-field" style="display: none;" data-names="<%= @actors_names.to_json %>" data-photos="<%= @actors_photos.to_json %>">
        <input id="actor-input-field" type="text" placeholder="search actors" style="width: 100%;">
        <div class="filter-actions">
          <button id="actor-add-button" class="move-to-active active-include" style="display: none;"></button>
          <button id="actor-remove-button" class="move-to-active active-exclude" style="display: none;"></button>
        </div>
      </div>

      <div id="director-input" class="filter-search-field" style="display: none;" data-names="<%= @directors_names.to_json %>" data-photos="<%= @directors_photos.to_json %>">
        <input id="director-input-field" type="text" placeholder="search directors" style="width: 100%;">
        <div class="filter-actions">
          <button id="director-add-button" class="move-to-active active-include" style="display: none;"></button>
          <button id="director-remove-button" class="move-to-active active-exclude" style="display: none;"></button>
        </div>
      </div>

      <div id="genre-input" class="filter-search-field" style="display: none;" data-names="<%= @genres_names.to_json %>" data-photos="<%= @genres_photos.to_json %>">
        <input id="genre-input-field" type="text" placeholder="search genres" style="width: 100%;">
        <div class="filter-actions">
          <button id="genre-add-button" class="move-to-active active-include" style="display: none;"></button>
          <button id="genre-remove-button" class="move-to-active active-exclude" style="display: none;"></button>
        </div>
      </div>
    </div>

    <div class="filter-results">

    </div>

  </div> <!-- end of filter-left div -->

  <div class="filter-right">
    <h2>Active Filters</h2>

    <div class="active-filters">
      <div id="selection-wrapper">
        <div id="all-selections">
          <div class="selection"></div>
        </div>
      </div>
    </div>
    <div class="find-movies">
      <button id="watch-btn" class="button-full">Find movies</button>
    </div>

  </div> <!-- end of filter-right div-->

</div>

