<% @user.tmdb_suggestions.first.suggestions.each do |suggestion| %>
  <% if suggestion.skip == false %>
    <%= link_to 'Pass', edit_suggestion_path(suggestion.id), 'btn btn-primary' %>
    <%= link_to 'Later', edit_suggestion_path(suggestion.id), 'btn btn-primary' %>
    <%= link_to 'Seen', edit_suggestion_path(suggestion.id), 'btn btn-primary' %>
    <%= link_to 'Watch', show_suggestion_path(suggestion.id), 'btn btn-primary' %>
  <% else %>
  <% end %>
  <% suggested_movie = suggestion.first.movie %>
  <% movie_director = suggested_movie.director %>
  <% starring_actors = suggested_movie.starring_actors %>
  <% available_services = suggested_movie.available_services %>
  <h3><%= suggested_movie.title %></h3>
  <p><%= suggested_movie.release_date %></p>
  <p><%= suggested_movie.runtime %></p>
  <p><%= suggested_movie.overview %></p>
  <% starring_actors.each do |actor| %>
    <p><%= actor.name %></p>
  <% end %>
  <p><%= movie_director.name %></p>
  <% available_services.each do |service| %>
    <p><%= service.company %></p>
  <% end %>
<% end %>
