<div class="main-achievements-container">

  <div class="achievement-buttons">
    <ul>
      <li><button id="button-1" class="achievement-button filter-option border-selection" data-id="1">Movies</button></li>
      <li><button id="button-2" class="achievement-button filter-option" data-id="2">Collection</button></li>
      <li><button id="button-3" class="achievement-button filter-option" data-id="3">Genre</button></li>
      <li><button id="button-4" class="achievement-button filter-option" data-id="4">Hours and queries </button></li>
      <li><button id="button-5" class="achievement-button filter-option" data-id="5">Other</button></li>
      <li><button id="button-6" class="achievement-button filter-option" data-id="6">Special</button></li>
      <li><button id="button-7" class="achievement-button filter-option" data-id="7">All</button></li>
    </ul>
  </div>

  <div id="all-achievements">


    <div class="scroll" id="1">
      <div class="achievements-container">
        <% @achievements.where(macro_area: "number").each do |achievement| %>
          <% if @joint_achievements.find_by(achievement_id: achievement.id) %>
            <div class="achievement-card">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% else %>
            <div class="achievement-card not-earned">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="scroll hidden" id="2">
      <div class="achievements-container">
        <% @achievements.where(macro_area: "collection").each do |achievement| %>
          <% if @joint_achievements.find_by(achievement_id: achievement.id) %>
            <div class="achievement-card">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% else %>
            <div class="achievement-card not-earned">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="scroll hidden" id="3">
      <div class="achievements-container">
        <% @achievements.where(macro_area: "genre").each do |achievement| %>
          <% if @joint_achievements.find_by(achievement_id: achievement.id) %>
            <div class="achievement-card">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% else %>
            <div class="achievement-card not-earned">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="scroll hidden" id="4">
      <div class="achievements-container">
        <% @achievements.where(macro_area: "hours and queries").each do |achievement| %>
          <% if @joint_achievements.find_by(achievement_id: achievement.id) %>
            <div class="achievement-card">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% else %>
            <div class="achievement-card not-earned">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="scroll hidden" id="5">
      <div class="achievements-container">
        <% @achievements.where(macro_area: "other").each do |achievement| %>
          <% if @joint_achievements.find_by(achievement_id: achievement.id) %>
            <div class="achievement-card">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% else %>
            <div class="achievement-card not-earned">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="scroll hidden" id="6">
      <div class="achievements-container">
        <% @achievements.where(macro_area: "special").each do |achievement| %>
          <% if @joint_achievements.find_by(achievement_id: achievement.id) %>
            <div class="achievement-card">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% else %>
            <div class="achievement-card not-earned">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="scroll hidden" id="7">
      <div class="achievements-container">
        <% @achievements.each do |achievement| %>
          <% if @joint_achievements.find_by(achievement_id: achievement.id) %>
            <div class="achievement-card">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% else %>
            <div class="achievement-card not-earned">
              <h3><%= achievement.name %></h3>
              <% unless achievement.icon.nil? %>
                <%= image_tag achievement.icon, class:"badge-img" %>
              <% else %>
                <%= image_tag "badge_icons/plain.png", class:"badge-img" %>
              <% end %>
              <p><%= achievement.description %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>



</div>


<!-- <script>
  window.onload = function() {
    var input = document.getElementById("button-1").focus();
  }
</script> -->
