<div class="row movie-poster-container">
  <% @seen_movies.each do |saved_movie| %>
    <div class="col-3">
        <div class="thumbs-up-badge">
          <% if saved_movie.user_rating == 1 %>
          <%= tag.div class: %w( img-responsive badge-icon whatch-badge-icon-like ) %>
          <% elsif saved_movie.user_rating == 0 %>
          <%= tag.div class: %w( img-responsive badge-icon whatch-badge-icon-dislike ) %>
          <% else %>
          <%= tag.div class: %w( img-responsive badge-icon whatch-badge-icon-empty ) %>
          <% end %>
        </div>
      <div class="movie-poster-small">
        <% if saved_movie.movie.photo_url == nil%>
        <%= link_to history_show_path(saved_movie.id) do %>
        <div class="movie-poster-placeholder">
        <%= tag.h3 "#{saved_movie.movie.title}"  %>
        <% end %>
        </div>
        <% else %>
        <%= link_to history_show_path(saved_movie.id) do %>
        <%= image_tag ("https://image.tmdb.org/t/p/w200/#{saved_movie.movie.photo_url}"), class: "img-responsive movie-poster-image"%>
        <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
