<!-- If you don't understand the logic you can go in app/controllers/saved_movies_controller °.°\m/ -->

<div class="row">
  <div class="right-part col-6"> <!-- This div contains the poster movie and the three buttons (on the right part of the page) -->
    <div> <!-- This is the div with the poster movie -->
      <% @current_movie = @saved_movies.find(params[:id]) %>
      <%= @current_movie.movie.photo_url %>
    </div>

    <% next_id = find_next_id(@current_movie) %> <!-- this method is defined in the app/controllers/saved_movies_controller -->

    <div> <!-- This div contain the three buttons -->
      <%= link_to 'Remove', saved_movie_path, method: :delete, class: "btn btn-danger" %>
      <%= link_to 'Next', saved_movie_path(next_id), class: "btn btn-outline-primary" %>
      <%= link_to 'Watch', "/suggestion/#{@current_movie.movie.id}/confirmation", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="left-part col-6"> <!-- This div contains the box with all the movie informations displayed on the right part -->
    <div> <!-- This div contains info about the current movie -->
      <h1><%= @current_movie.movie.title %></h1>
      <h2><em><%= @current_movie.movie.original_title %></em></h2>
      <p><%= @current_movie.movie.overview %></p>
      <h3>Cast</h3>
      <div> <!-- This div contains the cast avatar with name and character -->
          <% @current_movie.movie.starring_actors.each do |star| %>

          <div> <!-- This contains all the actor informations -->
            <%= star.photo_url%>
            <p><em><%= star.character %></em></p>
            <p><%= star.actor.name %></p>
          </div>

          <% end %>
      </div>
      <div> <!-- This contains all informations about director, year and platform -->
        <div>
          <h3>Director</h3>
          <p><%= @current_movie.movie.director.name %></p>
        </div>
        <div>
          <h3>Year</h3>
          <p><%= @current_movie.movie.release_date %></p>
        </div>
        <div>
          <h3>Avaiable on</h3>
          <p><%= @current_movie.movie.available_services %></p>
        </div>
      </div>
      <div><!-- This contains informations about rating -->
        <h3>Rating</h3>
        <p><%= @current_movie.movie.vote_average %></p>
      </div>
    </div>
  </div>
</div>










