<!-- every page that renders this result_show partial needs to define the following locals: current_suggestion, movie_director, starring_actors -->
<!-- example: current_suggestion = @current_suggestion (if @current_suggestion is passed on from controller) -->

<div class="result-container">

  <div class="result-left">
    <div class="result-cards">
      <div class="first-result">
        <%= image_tag "https://image.tmdb.org/t/p/w300/#{current_suggestion.first.movie.photo_url}", class:"first-result" %>
      </div>
      <div class="second-result">
        <!-- TODO: image path below must be updated with the second suggestion -->
        <% if !second_suggestion.first.movie.photo_url.nil? %>
          <%= image_tag "https://image.tmdb.org/t/p/w300/#{second_suggestion.first.movie.photo_url}", class:"second-result" %>
        <% end %>
      </div>
    </div>
    <div class="result-actions">
      <div class="action-button">
        <%= link_to (image_tag first_button_image, size: 48), first_button_path, class:first_button_class %>
        <div class="action-label">
          <p>pass</p>
        </div>
      </div>
      <div class="action-button">
        <%= link_to (image_tag second_button_image, size: 48), second_button_path, class:second_button_class %>
        <div class="action-label">
          <p>seen</p>
        </div>
      </div>
      <% if number_of_buttons >= 3 %>
        <div class="action-button">
          <%= link_to (image_tag third_button_image, size: 48), third_button_path, class:third_button_class %>
          <div class="action-label">
            <p>save</p>
          </div>
        </div>
      <% end %>
      <% if number_of_buttons == 4 %>
        <div class="action-button">
          <%= link_to (image_tag fourth_button_image, size: 48), fourth_button_path, class:fourth_button_class %>
          <div class="action-label">
            <p>watch</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="result-right">
    <div class="result-right-top">
    </div>
    <div class="result-right-main">
      <div class="film-header">
        <h1>
          <%= current_suggestion.first.movie.title %>
        </h1>
        <p>
          <%= current_suggestion.first.movie.overview %>
        </p>
      </div>
      <div class="film-details">
        <div class="film-details-item">
          <h2>
            Director
          </h2>
          <p>
            <%= movie_director.name %>
          </p>
        </div>
        <div class="film-details-item">
          <h2>
            Genre
          </h2>
          <p>
            <!-- TODO: Genre goes here -->
            Placeholder
          </p>
        </div>
        <div class="film-details-item">
          <h2>
            Released
          </h2>
          <p>
            <%= current_suggestion.first.movie.release_date.split("-").first %>
          </p>
        </div>
        <div class="film-details-item">
          <h2>
            Runtime
          </h2>
          <p>
            <%= current_suggestion.first.movie.runtime %> min
          </p>
        </div>
      </div>
      <h2>Cast</h2>
      <div class="film-cast">
        <!-- TODO: must accept 15, in a side-scrolling list -->
        <% starring_actors.take(7).each do |actor| %>
          <div class="cast-member">
            <div class="cast-centered">
              <%= image_tag("icons/placeholder_actor.png", size: 48, class:"cast-icon") %>
              <p>
                <%= Actor.find(actor.actor_id).name %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="result-right-bottom">
    </div>
  </div> <!-- close result-right -->

</div>
