<!-- every page that renders this result_show partial needs to include the locals on the bottom of this page -->
<!-- example: current_suggestion = @current_suggestion (if @current_suggestion is passed on from controller) -->
<!-- SCROLL DOWN FOR DETAILS -->
<% if number_of_buttons <= 2 %>
  <% result_actions = "two-buttons" %>
<% elsif number_of_buttons == 3 %>
  <% result_actions = "three-buttons" %>
<% else %>
  <% result_actions = "four-buttons" %>
<% end %>

<div class="result-container">

  <div class="result-left">
    <div class="result-cards">
      <!-- logic for handling multiple cards -->
      <% if multiple_cards == true %>
        <div class="first-result">
          <% if current_suggestion.first.movie.photo_url.nil? %>
            <%= image_tag "poster_placeholder.png" %>
          <% else %>
            <%= image_tag "https://image.tmdb.org/t/p/w300/#{current_suggestion.first.movie.photo_url}" %>
          <% end %>
          <% unless current_suggestion.first.movie.trailer_url.nil? %>
            <span style="cursor: pointer;" id="trailer-button" class="play-button"><i class="far fa-play-circle"></i></span>
          <% end %>
        </div>
        <div class="second-result">
          <!-- TODO: image path below must be updated with the second suggestion -->
          <% if !second_suggestion.first.movie.photo_url.nil? %>
            <%= image_tag "https://image.tmdb.org/t/p/w300/#{second_suggestion.first.movie.photo_url}" %>
          <% else %>
            <%= image_tag "poster_placeholder.png" %>
          <% end %>
        </div>
      <!-- logic for handling one card WITH buttons -->
      <% elsif multiple_cards == false && number_of_buttons > 0 %>
        <div class="single-result">
          <div class="movie-poster-container">
            <div class="small-rating-badge">
              <% unless current_suggestion.first.class.to_s == 'Suggestion' %>
                <% if current_suggestion.first.user_rating == 1 %>
                  <%= tag.div class: %w( img-responsive badge-icon whatch-badge-icon-like ) %>
                <% elsif current_suggestion.first.user_rating == 0 %>
                  <%= tag.div class: %w( img-responsive badge-icon whatch-badge-icon-dislike ) %>
                <% else %>
                  <%= tag.div class: %w( img-responsive badge-icon whatch-badge-icon-empty ) %>
                <% end %>
              <% end %>
        </div>
          <%= image_tag "https://image.tmdb.org/t/p/w300/#{current_suggestion.first.movie.photo_url}" %>
          <% unless current_suggestion.first.movie.trailer_url.nil? %>
            <span style="cursor: pointer;" id="trailer-button" class="play-button"><i class="far fa-play-circle"></i></span>
          <% end %>
          </div>
        </div>
      <!-- logic for handling one card WITHOUT buttons -->
      <% else %>
        <div class="single-result poster-large">
          <%= image_tag "https://image.tmdb.org/t/p/w300/#{current_suggestion.first.movie.photo_url}" %>
          <% unless current_suggestion.first.movie.trailer_url.nil? %>
            <span style="cursor: pointer;" id="trailer-button" class="play-button"><i class="far fa-play-circle"></i></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- Creates dynamic left/right padding based on number of buttons to display -->
    <% if number_of_buttons > 0 %>
      <div class="result-actions <%= result_actions %>">
        <div class="action-button">
          <%= link_to (image_tag first_button_image, size: 48), first_button_path, method: first_button_method, class:first_button_class %>
          <div class="action-label">
            <p><%= first_button_label %></p>
          </div>
        </div>
        <div class="action-button">
          <%= link_to (image_tag second_button_image, size: 48), second_button_path, method: second_button_method, class:second_button_class %>
          <div class="action-label">
            <p><%= second_button_label %></p>
          </div>
        </div>
        <!-- Displays 3 buttons only if number_of_buttons is specified as such by the show -->
        <% if number_of_buttons >= 3 %>
          <div class="action-button">
            <%= link_to (image_tag third_button_image, size: 48), third_button_path, method: third_button_method, class:third_button_class %>
            <div class="action-label">
              <p><%= third_button_label %></p>
            </div>
          </div>
        <% end %>
        <!-- Displays 4 buttons only if number_of_buttons is specified as such by the show -->
        <% if number_of_buttons == 4 %>
          <div class="action-button">
            <%= link_to (image_tag fourth_button_image, size: 48), fourth_button_path, method: fourth_button_method, class:fourth_button_class %>
            <div class="action-label">
              <p><%= fourth_button_label %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="result-right">
    <div class="result-right-top">
    </div>

    <!-- movie details for results confirmation page only -->
    <% if multiple_cards == false && number_of_buttons == 0 %>
      <div class="result-right-main confirmation">
        <div class="confirmation-details">
          <div class="confirmation-header">
            <h1>
              <%= @current_suggestion.first.movie.title %>
            </h1>
            <h2>
              <%= Time.now.strftime("%A %d %b %Y") %>
              <br>
              <%= Time.now.strftime("%H.%M") %>
            </h2>
          </div>
          <div class="confirmation-message">
            <p>Sit back, relax, and enjoy <%= @current_suggestion.first.movie.title %>!</p>
            <p>When you're done with the movie, you can go to the History tab to give it a thumbs up or thumbs down.</p>
            <br>
            <%= link_to "Watch on [streaming service]", after_confirmation_path(movie_id: @current_suggestion.first.movie_id), class:"button-full" %>
          </div>
        </div>
        <div class="confirmation-admit-one">

        </div>
      </div>
      <!-- code goes here -->
    <!-- movie details for all pages that are not the results confirmation page -->
    <% else %>
      <div class="result-right-main">
        <div class="film-header">
          <h1>
            <%= current_suggestion.first.movie.title %>
          </h1>
          <p>
            <%= current_suggestion.first.movie.overview %>
          </p>
        </div>
        <div class="film-details">
          <div class="film-details-item">
            <h2>
              Director
            </h2>

            <% if queried_directors.include?(movie_director) %>
              <p class="positive-query-text"><%= movie_director.name %></p>
            <% else %>
              <p><%= movie_director.name %></p>
            <% end %>

          </div>
          <div class="film-details-item">

            <h2>
              Genre
            </h2>
              <!-- Iterate over genre -->
              <div style="display: flex;">
                <% counter = 0 %>
                <% current_suggestion.first.movie.genres.uniq.each do |genre| %>
                  <% counter += 1 %>

                  <% unless counter == 1 %>
                    <p>,&nbsp;</p>
                  <% end %>

                  <% if queried_genres.include?(genre) %>
                    <p class="positive-query-text"><%= genre.name %></p>
                  <% else %>
                    <p><%= genre.name %></p>
                  <% end %>
                <% end %>

              </div>

          </div>

          <div class="film-details-item">
            <h2>
              Released
            </h2>
            <p>
              <%= current_suggestion.first.movie.release_date.split("-").first %>
            </p>
          </div>
          <div class="film-details-item">
            <h2>
              Runtime
            </h2>
            <p>
              <%= current_suggestion.first.movie.runtime %> min
            </p>
          </div>
        </div>

        <h2>Cast</h2>
        <div class="film-cast">

          <% starring_actors.take(15).each do |starring_actor| %>
            <% cast_icon = (queried_actors.include?(starring_actor.actor) ? "cast-icon queried" : cast_icon = "cast-icon") %>
            <div class="cast-member">
              <div class="cast-centered">
                <% if starring_actor.photo_url != nil %>
                  <%= image_tag("https://image.tmdb.org/t/p/w500#{starring_actor.photo_url}", size: 48, class: cast_icon) %>
                <% elsif starring_actor.actor.photo_url != nil %>
                  <%= image_tag("https://image.tmdb.org/t/p/w500#{starring_actor.actor.photo_url}", size: 48, class: cast_icon) %>
                <% else %>
                  <%= image_tag("icons/placeholder_actor.svg", size: 48, class: cast_icon) %>
                <% end %>
                <p>
                  <% actor_name = starring_actor.actor.name %>
                  <!-- If actor is known by just one name, print the name as-is -->
                  <% if actor_name.index(" ").nil? %>
                    <%= actor_name %>
                  <!-- if the user has more than two names, fit as much as possible (10 chars) on the first line before the line break -->
                  <% elsif actor_name.count(" ") >= 2 && actor_name.split(" ")[0].length + actor_name.split(" ")[1].length <= 10 %>
                    <%= actor_name.split(" ")[0] + " " + actor_name.split(" ")[1] %>
                    <br>
                    <%= actor_name.slice(actor_name.split(" ")[0].length + actor_name.split(" ")[1].length + 2..actor_name.length) %>
                  <!-- in all other circumstances, print the first name, then a line break, then last name -->
                  <% else %>
                    <%= actor_name.split(" ").first %>
                    <br>
                    <%= actor_name.slice(actor_name.index(" ") + 1..actor_name.length) %>
                  <% end %>
                </p>
              </div>
            </div>
          <% end %>

        </div>


      </div>
      <% end %>
    <div class="result-right-bottom">
    </div>
  </div> <!-- close result-right -->
</div>


<div class="youtube-modal"> <!-- CSS in /container.scss -->
  <div class=" iframe-container">
    <div class="video-x"> <!-- in order to position the x -->
      <% unless current_suggestion.first.movie.trailer_url.nil? %>
        <iframe src=<%= current_suggestion.first.movie.trailer_url.gsub("watch?v=", "embed/") %>></iframe>
      <% end %>
      <span style="cursor: pointer;" class="x-button"><i class="far fa-times-circle"></i></span>
    </div>
  </div>
</div>



<!-- include the following locals in your code if you use this partial -->

<!-- NOTE: if number_of_buttons is 2, you can remove all lines starting with 'third_button' and 'fourth_button' -->
<!--       if your number_of_buttons is 3, you can remove all lines starting with 'third_button' -->

<!-- IMPORTANT: if YOUR_INPUT_HERE is surrounded by quotes, you must include them in your local -->
<!--            input for the button_method must be a symbol (e.g., :get) -->
<!--            even if your link method is 'get', you MUST specify :get for the partial to work -->

<!--

  current_suggestion: @current_suggestion,
  second_suggestion: @second_suggestion,
  movie_director: @current_suggestion.first.movie.director,
  starring_actors: @current_suggestion.first.movie.starring_actors,


  # NOTE: if the number_of_buttons you specify is 2 or 3, you can delete the lines for buttons you don't need
  # e.g., if you need only two buttons, you can delete all lines that start with "third_button" and "fourth_button"

  number_of_buttons: YOUR_INPUT_HERE,
  multiple_cards: YOUR_INPUT_HERE,

  first_button_path: YOUR_INPUT_HERE,
  first_button_image: "YOUR_INPUT_HERE",
  first_button_class: "YOUR_INPUT_HERE",
  first_button_label: "YOUR_INPUT_HERE",
  first_button_method: YOUR_INPUT HERE

  second_button_path: YOUR_INPUT_HERE,
  second_button_image: "YOUR_INPUT_HERE",
  second_button_class: "YOUR_INPUT_HERE",
  second_button_label: "YOUR_INPUT_HERE",

  third_button_path: YOUR_INPUT_HERE,
  third_button_image: "YOUR_INPUT_HERE",
  third_button_class: "YOUR_INPUT_HERE",
  third_button_label: "YOUR_INPUT_HERE",

  fourth_button_path: YOUR_INPUT_HERE,
  fourth_button_image: "YOUR_INPUT_HERE",
  fourth_button_class: "YOUR_INPUT_HERE",
  fourth_button_label: "YOUR_INPUT_HERE"

-->
